* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

header > h3 {   /* align website name and write a review together */
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    color: white;
    float: right;
    display: inline;
}

.rmi {      /* align website name and write a review together */
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    float: left;
    font-size: 150%;
    position: relative;
}
mark.white {
    color:white;
    background: none;
    position: relative;
}
mark.yellow {
    color: yellow;
    background: none;
    position: relative;
}

img {
    opacity: 0.80;
    max-width: 100%;
    position: relative;
  }
 
.searchBar > p {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchBar > input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    height: 5%;
    left: 35%;
}

  .main-footer {
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	box-shadow: 0px 0px 25px rgb(207, 207, 207);
	height: 120px;
	color: #9B9B9B;
	background: #F3F3F3;
  }
  .content {
    display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 25px Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
  }
  a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
  
.comp {     
    background-color: white;
    white-space: pre-wrap;
    position: relative;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left:5em;
}
.black-comp {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
