.search-bar {
    margin-top: 5rem;
    padding-left: 1rem;
    display: flex;
    border: 1px solid #FFA07A;
    border-radius: 10px;
    background-color :#fbe7a6;
    width: 700px;
    height: 48px;
    align-items: center;
}

.search-bar--input {
    margin: auto;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 17px;
    flex: 9;
    align-self: flex-start;
}

/* TODO: Figure out what we want to happen when search bar is clicked. */
.search-bar--input:focus {
    /*outline: none;*/
    border-radius: 10px;
}

.search-bar--icon {
    font-size: 24px;
    flex: 1;
}