/* MOBILE */
html {
    height: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    width: 100%;
    overflow-x: hidden;
}

.appName {
    position: absolute;
    letter-spacing: .3em;
    font-size: .5em;
    width: 30%;
}

.mobile-nav-btn {
    position: relative;
    top: -14em;
    display: inline;
}

Button {
    background: fbe8a6!important;
    border: .15em solid #FFA07A!important;
}

.btn-link {
    position: relative;
    margin-left: 33%;
    width: 35%;
}

img {
    max-width: 100%;
    position: relative;
}

.slogan {
    height: 5%;
}

.slogan h1 {
    position: relative;
    font-size: 1.5em;
    font-family: Noto Serif;
    font-weight: bold;
    text-align: center;
    top: -10em;
}

.slogan p {
    position: relative;
    font-size: 1em;
    font-family: Noto Serif;
    font-weight: bold;
    text-align: center;
    top: -15em;
}

.search-icon {
    position: relative;
    margin-left: 80%;
    top: -16.5em;
}

.searchBar-input {
    border: .2em solid #FFA07A;
    border-radius: 20px;
    background-color :whitesmoke;
    margin: auto; 
    display: flex; 
    padding: .5em;
    font-size: 1em;
    width: 70%;
    height: 2em;
    top: -15em;
    align-items: center;
    position: relative;
}

.searchBar-input:focus {
    border-radius: 1px;
    outline: none;
}

::placeholder  {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

.design {
    display: relative;
    color: transparent;
    height: 1%;
    width: 1%;
    opacity: 0.0;
}

.comp {
    font-family: Noto Serif;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.design-header {
    font-size: 1.5em;
    font-weight: bold;
}

hr {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




/* Media Queries */
/* LAPTOPS */
@media (min-width: 768px) {
     header > h3 {
        font-weight: normal;
        font-family: Noto Serif Bold;
        position: relative;
        color: white;
        float: right;
        display: inline; 
    }

    .slogan h1 {
        font-size: 2em;
        top: -12em;
    }
    
    .slogan p {
        display: none;
    }

    .mobile-nav-btn {
        display: none;
    }

    .searchBar-input {
        top: -24em;
    }

    .search-icon {
        top: -25.6em;
        margin-left: 81.5%;
    }

    ::placeholder {
        font-size: 1.3em;
    }
    
    .comp {
        height: 27em;
        width: 100%;
    }

    .design {
        position: relative;
        opacity: 1.0;
        width: 45%;
        height: 25rem;
        top: -16em;
        filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
        padding: none;
    }

    .design-header {
        width: 40%;
        height: 3em;
        top: 1em;
        margin-left: 47%;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: #000000;
    }
    
    .design-para {
        width: 40%;
        height: 3em;
        margin-left: 40%;
        margin-right: 5%;
        margin-top: 1em;
        font-family: Oxygen;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7em;
        text-align: center;
        display: inline-block;
        color: #000000;
    }
    
    .horizontal-line {
        width: 25%;
        margin-left: 55%;
        margin-right: 5%;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    }
}



/* MONITORS */
@media (min-width: 1280px) {
    .slogan h1 {
        font-size: 3em;
    }

    .searchBar-input {
        top: -35em;
        height: 2.5em;
    }

    .search-icon {
        top: -36.5em;
        margin-left: 82%;
    }

    ::placeholder {
        font-size: 1.7em;
    }

    .comp {
        height: 45em;
    }

    .design {
        position: relative;
        width: 45%;
        height: 50rem;
        top: -25em;
        filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.5));
    }

    .design-header {
        font-size: 2.8em;
        margin-top: 2.5em;
        height: 4.5em;
    }
    
    .design-para {
        font-size: 2.2em;
        margin-top: 2.5em;
    }

    .horizontal-line {
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    }
}