/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*    background-color: #000000;*/
/*    padding:0;*/
/*    max-width: 100%;*/
/*    overflow-x: hidden;*/
/*}*/

/*header > h3 {   !* align website name and write a review together *!*/
/*    font-weight: normal;*/
/*    font-family: Noto Serif Bold;*/
/*    position: relative;*/
/*    color: white;*/
/*    float: right;*/
/*    display: inline;*/
/*}*/

/*.rmi {      !* align website name and write a review together *!*/
/*    color: whitesmoke;*/
/*    font-family: Georgia, 'Times New Roman', Times, serif;*/
/*    display: inline;*/
/*    float: left;*/
/*    font-size: 150%;*/
/*    position: relative;*/
/*}*/
/*mark.white {*/
/*    color:white;*/
/*    background: none;*/
/*    position: relative;*/
/*}*/
/*mark.black {*/
/*    color:black;*/
/*    background: none;*/
/*    position: relative;*/
/*}*/

/*img {*/
/*    opacity: 0.80;*/
/*    max-width: 100%;*/
/*    position: relative;*/
/*  }*/

/*.searchBar > p {*/
/*    font-size: 30px;*/
/*    color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/
/* .searchBar > input {
   border: 3px solid #FFA07A;
   border-radius: 25px;
   background-color :#fbe7a6;
   margin: auto;
   display: block;
   padding: 10px;
   font-size: 17px;
   width: 700px;
   height: 48px; 
} */
/*::placeholder  {*/
/*    font-family: Noto Serif;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/

/*  .main-footer {*/
/*	bottom: 0;*/
/*	padding-top: 10px;*/
/*	width: 100%;*/
/*	box-shadow: 0px 0px 25px rgb(207, 207, 207);*/
/*	height: 200px;*/
/*	color: black;*/
/*	background: #fbd9ad;*/

/*    display: block;*/
/*	padding: 10px;*/

/*  }*/

/*  .left-footer {*/
/*    margin-left: 5em;*/
/*    float: left;*/
/*    font-family: Oxygen;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 17px;*/

/*  }*/
/*  .left-footer-rmi {*/

/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-family: Noto Serif;*/
/*    font-size: 30px;*/
/*    line-height: 54px;*/
/*    letter-spacing: -0.05em;*/
/*    color:#000000;*/

/*  }*/

/*  .right-footer {*/
/*      float: right;*/
/*      margin-right: 5em;*/
/*      font-family: Oxygen;*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*        font-size: 17px;*/

/*  }*/
/*  .right-footer-header {*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-family: Noto Serif;*/
/*    font-size:25px;*/
/*  }*/

/*  .linkedin {*/
/*    margin-right: 18.5em;*/
/*      float:right;*/
/*      letter-spacing:normal;*/
/*  }*/

/*  .insta {*/
/*      margin-right: 1em;*/
/*      float: right;*/
/*      letter-spacing:normal;*/
/*  }*/
/*  a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    font-size: 15px;*/
/*}*/

/*.comp {*/
/*    height: 600px;*/
/*    background: whitesmoke;*/

/*}*/
/*.text{*/
/*    font-family: Oxygen;*/
/*    font-size: 30px;*/
/*    margin-left:5em;*/
/*    display: inline-block;*/
/*}*/

/*.design {*/
/*    position: absolute;*/
/*    width: 600px;*/
/*    height: 413.27px;*/
/*    left: 83px;*/
/*    top: 872px;*/
/*    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*    border: 3px solid #FFA07A;*/

/*}*/

/*.design-header {*/
/*    position: absolute;*/
/*width: 591px;*/
/*height: 48px;*/
/*left: 770px;*/
/*top: 930px;*/

/*font-family: Noto Serif;*/
/*font-style: normal;*/
/*font-weight: bold;*/
/*font-size: 35px;*/
/*line-height: 48px;*/
/*!* identical to box height *!*/
/*color: #000000;*/
/*}*/

/*.design-para {*/
/*    position: absolute;*/
/*width: 568px;*/
/*height: 140px;*/
/*left: 745px;*/
/*top: 1050px;*/

/*font-family: Oxygen;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*font-size: 28px;*/
/*line-height: 35px;*/
/*text-align: center;*/
/*display: inline-block;*/

/*color: #000000;*/
/*}*/

/*.horizontal-line {*/
/*    position: absolute;*/
/*width: 292px;*/
/*height: 0px;*/
/*left: 884px;*/
/*top: 1000px;*/

/*border: 2px solid #F4976C;*/
/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*transform: rotate(-0.2deg);*/
/*}*/


/*!* Down below is the CSS for what used to be the form-page *!*/

/*.form-parameters label {*/
/*    margin-left: 17em;*/
/*    font-size: 25px;*/
/*    width: 240px;*/
/*    display: inline-block;*/
/*    text-align: right;*/
/*}*/

/*.form-parameters input[type = "text"] {*/
/*    background-color: lightsalmon;*/
/*    color: black;*/
/*    box-sizing: border-box;*/
/*    padding: 6px 6px;*/
/*    margin: 5px 0;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 20px;*/
/*    box-sizing: border-box;*/
/*}*/
/*.form-parameters input[type = "radio"] {*/
/*    background-color: lightsalmon;*/
/*    color: black;*/
/*    width: 20px;*/
/*    margin-right: 10px;*/
/*    display: inline-block;*/
/*}*/
/*.radio-label {*/
/*    width: 100px;*/
/*    display: inline-block;*/
/*}*/

/*input {*/
/*    font-size: 1.5em;*/
/*    color: black;*/
/*}*/
/*.bg {*/
/*    border-radius: 5px;*/
/*    background-color: #f2f2f2;*/
/*    padding: 20px;*/
/*}*/

/* home-folder's style.css */

/* MOBILE */
html {
    height: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    width: 100%;
    overflow-x: hidden;
}

.appName {
    position: absolute;
    font-size: .5em;
    width: 10em;
}

/* not resizing rn */
.formButton {
    position: relative;
    font-size: .3em;
}

img {
    max-width: 100%;
    position: relative;
}

.searchBar > p {
    font-family: Noto serif;
    font-size: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15em;
    font-weight: bold;
    text-transform: capitalize;
}

.searchBar-input {
    border: .2em solid #FFA07A;
    border-radius: 20px;
    background-color :whitesmoke;
    margin: auto; 
    display: flex; 
    padding: .5em;
    font-size: 1em;
    width: 67%;
    height: 1.8em;
    top: -16em;
    align-items: center;
    position: relative;
}

.searchBar-input:focus {
    border-radius: 1px;
    outline: none;
}

.search-icon {
    font-size: .8em;
    align-items: center;
    display: flex;
    position: relative;
    top: -21.5em;
    left: 80%;
}

::placeholder  {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: .8em;
}

/* Need to re-code the design for MOBILE only above */

/* Media Queries */
/* LAPTOPS */
@media (min-width: 768px) {
    html {
        height: 100%;
      }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding:0;
        width: 100%;
        overflow-x: hidden;
    }
    
     header > h3 {   /* align website name and write a review together */
        font-weight: normal;
        font-family: Noto Serif Bold;
        position: relative;
        color: white;
        float: right;
        display: inline; 
      }
    
    img {
        max-width: 100%;
        position: relative;
    }
    
    .searchBar > p {
        font-family: Noto serif;
        font-size: 3em;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -560px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .searchBar-input {
        border: .2em solid #FFA07A;
        border-radius: 20px;
        background-color :whitesmoke;
        margin: auto; 
        display: flex; 
        padding: .5em;
        font-size: 1em;
        width: 67%;
        height: 2.5em;
        top: -550px;
        align-items: center;
        position: relative;
    }
    
    .searchBar-input:focus {
        border-radius: 1px;
        outline: none;
    }
    
    .search-icon {
        font-size: 1.8em;
        align-items: center;
        display: flex;
        position: relative;
        top: -580px;
        left: 80%;
    }

    ::placeholder  {
        font-family: Noto Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .main-footer {
        bottom: 0;
        padding-top: 10px;
        width: 100%;
        box-shadow: 0px 0px 25px rgb(207, 207, 207);
        height: 12em;
        color: black;
        background: #fbd9ad;
        display: block;
        padding: 10px;    
    }
    
    .left-footer {
        margin-left: 5em;
        float: left;
        font-family: Oxygen;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
    
    }
    .left-footer-rmi {
        font-style: normal;
        font-weight: bold;
        font-family: Noto Serif;
        font-size: 2em;
        line-height: 2em;
        letter-spacing: -0.05em;
        color:#000000;
    }
    
    .right-footer {
        float: right;
        margin-right: 5em;
        font-family: Oxygen;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
    }

    .right-footer-header {
        font-style: normal;
        font-weight: bold;
        font-family: Noto Serif;
        font-size: 2em;
    }
    
    /* socials aren't floating right?? */
    .linkedin {
        margin-right: 18.5em;
        float:right;
        letter-spacing:normal;
    }
    
    .insta {
        margin-right: 1em;
        float: right;
        letter-spacing:normal;
    }
    /* ------------------------------------------------- */

    a {
        color: black;
        text-decoration: none;
        font-size: 1em;
    }
    
    .comp {
        height: 40em;
        width: 100%;
        background: white;
    }
    
    .design {
        position: relative;
        width: 50%;
        left: 5em;
        top: 5em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        padding: none;
        border: .3em solid #FFA07A;    
    }
    
    .design-header {
        /*top: 1050px;*/
        position: absolute;
        width: 15em;
        height: 5em;
        margin-left: 24em;
        top: 36em;
        font-family: Noto Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        /* identical to box height */
        color: #000000;
    }
    
    .design-para {
        /*top: 1200px;*/
        position: absolute;
        width: 15em;
        height: 3em;
        margin-left: 24em;
        top: 40em;
        font-family: Oxygen;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        text-align: center;
        display: inline-block;
        color: #000000;
    }
    
    .horizontal-line {
        /*top: 1135px;*/
        position: absolute;
        width: 20em;
        height: 0;
        margin-left: 54em;
        top: 77em;
        border: 2px solid #F4976C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: rotate(-0.2deg);
    }
}

/*
MONITORS
@media (min-width: 992px) {

}
*/

/* form-folder's style.css */

/* .form-box {
    margin-left: 15em;
    margin-right: 15em;
    width: auto;
    height: 1000px;
    border: 3px solid #fbd9ad;
    box-sizing: border-box;
}

.form-parameters {
    width: auto;
    height: 90;
    background-color: #fbd9ad;
    border: 3px solid #fbd9ad;
    box-sizing: border-box;
}
.form-header {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.05em;
    text-align: center;
}

.form-parameters label {
    margin-left: 5em;
    font-size: 25px;
    width: 300px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    display: inline-block;
}

.input-text {
    background-color: #fbd9ad;
    color: black;
    box-sizing: border-box;
    padding: 6px 6px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.start-month {

    display: inline-block;
    padding-right: 7.7em;
}

.start-year {

    display: inline-block;
}
.form-parameters input[type = "radio"] {
    background-color: lightsalmon;
    color: black;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}
.radio-label {

    display: inline-block;
}

.review-text {

    background-color: #fbd9ad;
    color: black;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    /* padding: 150px; */
    /* margin-left: 6em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
input {
    font-size: 1.5em;
    color: black;
}
 */ 
