html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.formButton {
    display: none;
}

hr {
    border: 2px solid #FFA07A;
    margin-bottom: 3em;
}

.appName {
    letter-spacing: .3em;
    width: 100%;
}

.form-parameters {
    width: auto;
    box-sizing: border-box;
}

.form-header {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

.form-parameters label {
    margin-left: 2em;
    font-size: 1em;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    display: block;
}

.input-text {
    background-color: whitesmoke;
    color: black;
    box-sizing: border-box;
    border: .1em solid lightsalmon;
    display: block;
    width: 85%;
    margin-left: 2em;
}

.start-month {
    display: inline-block;
    border: .1em solid lightsalmon;
    margin-left: 2em;
    margin-right: 10%;
    font-size: 1em;
}

.start-year {
    display: inline-block;
    border: .1em solid lightsalmon;
    font-size: 1em;
}

.radio-label {
    margin-left: 2em;
}

.radio-inline {
    display: inline-block;
    margin-right: 12%;
}

/* Character Counter */
textarea {
    width: 85%;
    height: 20%;
    box-sizing: border-box;
    min-height: 100px;
    margin-left: 2em;
    resize: none;
    padding: 0.5rem;
    border: 1.5px solid lightsalmon;
    background-color: whitesmoke;
    color: black;
    box-sizing: border-box;
}

textarea:focus {
      outline: none;
      border: 1px solid darken(#ddd, 5%);
      box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
    }
  
  .word-counter {
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: .8em;
    font-weight: italic;
  }
  
button {
    background-color: #fbe8a6;
    border-color: #ffa07a;
    border-radius: 10px;
}

.button-submit {
    text-align: center;
}

/* Confirmation Overlay */
.overlay {
    position: fixed;
    width: 100%;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 40%;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
    opacity: .9;
    flex-wrap: wrap;
    z-index: 10000;
  }

  .popup {
      max-width: 80%;
      background: #fbe8a6;
      border: 3px solid #ffa07a;
      font-size: 1.3em;
      border-radius: 10px;
  }

  .popup h1, p {
      text-align: center;
      font-family: Noto Serif;
  }

  .confirmed {
      padding-left: 1em;
      padding-right: 1em;
  }

  .exit-overlay {
      text-align: center;
  }

  .btn-cancel {
      background: whitesmoke;
      margin-bottom: .2em;
  } 


  /* LAPTOP */
  @media (min-width: 768px) {
    hr {
        display: none;
    }

    .form-box {
        margin-left: 10em;
        margin-right: 10em;
        margin-bottom: 3em;
        padding-left: 2em;
        padding-right: 1.5em;
        height: 1100px;
        border: 3px solid #ffa07a;
        box-sizing: border-box;
        background-color: white;
        border-radius: 12px;
    }

    .form-parameters label {
        margin-left: 1.5em;
        font-size: 1.3em;
    }

    .radio-label {
        font-size: 1.2em;
    }

    button {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .button-submit {
        font-size: 1.2em;
    }

    .start-month {
        font-size: 1.2em;
    }

    .start-year {
        font-size: 1.2em;
    }
  }


  /* MONITORS */
  @media (min-width: 1280px) {
      .form-box {
          height: 1200px;
      }

      .input-text {
          width: 95%;
      }

      .review-text {
          width: 95%;
      }

      .form-parameters label {
        margin-left: 1.1em;
        font-size: 1.8em;
    }

    .start-month {
        margin-left: 1.5em;
        margin-right: 5%;
        font-size: 1.4em;
    }

    .start-year {
        font-size: 1.4em;
    }

    .radio-label {
        font-size: 1.5em;
    }
  }






/*
.body{
    background-color:rgba(255, 140, 8, 0.3);
}
.form-box {
    margin-left: 15em;
    margin-right: 15em;
    //width: auto;
    height: 1050px;
    border: 3px solid #fbd9ad;
    box-sizing: border-box;
    background-color: white;

}

.form-parameters {
    width: auto;
    height: 90;
    background-color: whitesmoke;
    border: 3px solid white;
    box-sizing: border-box;
}
.form-header {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.05em;
    text-align: center;
}

.form-parameters label {
    margin-left: 5em;
    font-size: 25px;
    width: 300px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    display: inline-block;
}

.input-text {
    background-color: whitesmoke;
    color: black;
    box-sizing: border-box;
    padding: 6px 6px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid lightsalmon;
}
.start-month {
    display: inline-block;
    padding-right: 7.7em;
    //border: 1px solid lightsalmon;
}

.start-year {
    display: inline-block;
    //border: 2px solid lightsalmon;
}
.form-parameters input[type = "radio"] {
    background-color: lightsalmon;
    color: black;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid lightsalmon;
}
.radio-label {

    display: inline-block;
}

.review-text {

    background-color: whitesmoke;
    color: black;
    box-sizing: border-box;
    width: 700px;
    height: 300px;
    //padding: 150px;
    margin-left: 6em;
    border: 1px solid lightsalmon;
    border-radius: 10px;
    box-sizing: border-box;
}
input {
    font-size: 1.5em;
    color: black;
}

.button-submit {
    color: #fbd9ad;
    margin-left: 28em;
} */